services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "5464:8080"
    environment:
      - PORT=8080
    volumes:
      - ./:/app
      - /app/tmp
    networks:
      - echo-network
